@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap');
*{
    margin: 0;padding: 0;
}
body{
    background-color: #e1e1e8;
    font-family: 'Roboto Slab', serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:2px solid green; */
    margin-left: 4vw;
    margin-right:4vw;
    margin-top:2vh;
    background-color: white;
    box-shadow:  5px 5px 5px grey;;
}
.logo{
    width:150px;
}
.navbar-items{
    display: flex;
    flex-direction: row;
}
.navbar-items li{
    width:60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-items: center;
}
.navbar-items li a{
    text-decoration: none;
}

/* for home page */
.home{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    justify-content: space-between;
    background-color: white;
    box-shadow:  5px 5px 5px grey;
    width:80vw;
    height:80vh;
    margin-left:10vw;
    margin-right:10vw;
}
.container-left{
    display: flex;
    flex-direction: column;
      align-items: center;
    color:black;
}
.container-right{
   /* in case u need to add */
}
.home-image{
    width:40vw;
    height:80vh;
    margin-left: 8vw;
}
.heading1{
    font-size: 6em;
    margin-top: 10vh;
    margin-bottom: 5vh;
    transition: ease-in;
    transform: translateX(-50%,-50%);
    transition:  transform 2s;
    font-family: 'Roboto Slab', serif;
}
.intro{
    text-align: left;
    font-size: 1.4em;
    margin-left: 1vw;
    font-family: 'Roboto Slab', serif;
}



  /* about us page */
  *{
    box-sizing:border-box;

}

.about {
    margin-top: 5vh;
    padding: 60px;
    background-color: black;
    color:azure;
    margin-left: 10vw;
    margin-right:10vw;
}
.mission {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right:10vw;
    padding: 20px;
    background-color:black;
    color:antiquewhite;
    
}
h1 {
    color: aqua;
}
h2{
    color: rgb(15, 15, 15);
}
h3{
    color: rgb(14, 13, 13);
}
h4{
    color: rgb(5, 5, 5);
}

/* about us end */



/* price section start */
*{
    box-sizing:border-box;
    
}
.product {
    margin-top: 5vh;
    padding: 60px;
    background-color:black;
    color:rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    width:80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
h1{
    color: aqua;
}
p{
    color: white;
}
h2{
    color: white;
}

    .button{background-color:rgb(45, 25, 228);
    color:rgb(244, 250, 244);
    font-size:20px;
    text-align:center;
    cursor:pointer;
    padding:10px;
    margin:70px 50px;


}
.product-img{
    width:10vw;
    height: 10vh;
}

/* price section end */



/* for footer start */
.footer-heading{
    margin-left: 35vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color:black;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    box-shadow:  5px 5px 5px grey;;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .footer-container-links{
      display: flex;
      flex-direction: column;
  }
  .footer-container-links a{
      text-decoration: none;
      
  }